/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

nav ul li a {
	color: inherit;
	text-decoration: none;
}

/** end reset css**/
body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
	flex-wrap: wrap;
}

.connect {
	margin-top: 0;
}

section {
	margin: 50px 0
}

h1 a {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C;
	text-decoration: none;
}

h1 a span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

.bandeau-noir {
	background-color: black;
	width: 100vw;
	height: 59px;
	margin-left: calc(50% - 50vw);
	margin-right: calc(50% - 50vw);
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
}

.bandeau-noir p {
	color: white;
	font-family: Work Sans;
	font-size: 16px;
}

.modifier {
	color: white;
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

.header_portfolio {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.header_portfolio p {
	font-family: Work Sans;
	font-size: 16px;
}

#portfolio h2 {
	text-align: center;
}

.btn-modifier {
	border: none;
	background-color: transparent;
	display: flex;
	gap: 10px;
}

.bloc-filtres {

	width: 585px;
	margin: auto;
	margin-bottom: 2em;

}

.boutons-filtres {

	min-width: 100px;
	height: 37px;
	border: 1px solid #1D6154;
	border-radius: 60px;
	background-color: transparent;
	color: #1D6154;
	font-size: 16px;
	font-family: 'syne';
}

.actif {

	background-color: #1D6154;
	color: white;

}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
	max-height: 407px;
  	

}

#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;

}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/***********Modale*********/
dialog::backdrop {
	background: rgba(0, 0, 0, 0.3);
}

#modale-gallerie {
	width: 630px;
	height: 688px;
	border: none;
	padding: 0;
	border-radius: 10px;
}

.modale-wraper {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	border: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	gap: 30px;
	box-sizing: border-box;
	overflow: hidden;
}

.modale-header {
	margin-top: 50px;
	margin-bottom: 0;
}

.vue-liste {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	gap: 30px;
	padding: 20px;
	box-sizing: border-box;
	padding: 0;
}

.retour {
	position: absolute;
	top: 20px;
	left: 20px;
	border: none;
	background: none;
	font-size: 24px;
	cursor: pointer;
}

.fermeture-modale {
	position: absolute;
	top: 20px;
	right: 20px;
	border: none;
	background: none;
	font-size: 24px;
	cursor: pointer;
}

#modale-gallerie h3 {
	font-family: Work Sans;
	font-size: 26px;
	margin: 0;
}

.images-modales {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 10px;
	margin: auto;
}

#modale-gallerie figure {
	width: 76.86px;
	height: 102.57px;
	overflow: hidden;
	position: relative;
}

#modale-gallerie figure img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
	position: absolute;
	z-index: 1;
}

.btn-corbeille {
	background-color: black;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	top: 4px;
	right: 4px;
	border: none;
	z-index: 2;

}

.btn-corbeille i {
	color: white;
}

.btn-ajouter-img,
.btn-valider {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 14px;
	color: white;
	background-color: #1D6154;
	border-radius: 60px;
	width: 237px;
	height: 36px;
	margin: auto;
	border: none;
}

.btn-valider-disabled {
	background-color: #A7A7A7 !important;
}

.modale-footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-bottom: 30px;
	gap: 30px;
}

.modale-footer span {
	width: 420px;
	height: 0;
	display: block;
	border: solid 1px #B3B3B3
}

.modale-header,
.modale-footer {
	flex: 0 0 auto;
}

.form-ajout-photo {
	display: flex;
	flex-direction: column;
	width: 420px;
	gap: 20px;
}

#modale-gallerie .zone-ajout-photo {
	width: 100%;
	height: 169px;
	margin: 0;
	display: flex;
  	flex-direction: column;
  	align-items: center;
	height: 169px;
  	padding: 15px;
  	gap: 20px;
	box-sizing: border-box;
}

.zone-ajout-photo {
	background-color: #E8F1F6;
	position: relative;
  	overflow: hidden;
}

.fa-image {
	font-size: 75px;
	color: #B9C5CC;
}

.btn-photo-modale {
	background-color: #CBD6DC;
	border-radius: 50px;
	width: 173px;
	height: 36px;
	color: #306685;
	display: flex;
  	align-items: center;
  	justify-content: center;
	display: inline-flex;
	flex: 0 0 auto;
	z-index: 2;
}

#titre-photo, 
#categorie-photo {
	border: none;
  	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  	height: 51px;
  	background-color: white;
}

#preview-img {
	width: 139px !important;
}

.oculter {
	display: none !important;
}

/***********Page Log In*********/

#connexion {
	display: flex;
	align-items: center;
	flex-direction: column;
}

#connexion h2 {
	margin-bottom: 1em;
}

#connexion form {
	display: flex;
	align-items: center;
	flex-direction: column;
}

#connexion label {
	margin: 2em 0 1em 0;
}

#connexion input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	max-width: 379px;
}

#connexion input:not([type="submit"]) {
	width: 379px;
}

#connexion a {
	text-decoration: underline;
	color: inherit;
}

.message-erreur {
	color: #b00020;
	margin: 0 0 18px;
	font-size: 16px;
}

.champ-erreur {
	border: 2px solid #b00020 !important;

}